
:root{
    font-family: 'Questrial', sans-serif;
    --textbg: #2F2E7C
}

*{
    margin: 0px;
    padding: 0px;
}

#container{
    place-items: center;
}
#logo{
    padding-right: 1rem;
}
#logo1{
    height: 70px;
}

.nav-bar{
    display: flex;
    flex-grow: initial;
    background-color: var(--textbg);
    color: white;
    padding: 1rem 2rem;
}

.nav-bar #dropdown-svg img{
    display:none
}

#nav-text {
    margin-top: 1rem;
}

#nav-items{
    color: white;
    padding-top: 5%;
    align-items: center; 
}
#nav-items a{
    color: white;
    padding-top: 5%;
    margin-right: 1rem;
}

.first-section{
    background-image: url(./img/basseng\ med\ leker.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 400px;
    border-top: solid;
    padding: 95px 41px 21px;
}

button {
    background-color: #0A1A4B;
    color: #fff;
    font-size: 20px;
    width: 240px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sale {
    display: flex;
    text-align: center;
}

.second-section{
    grid-template-columns: auto auto;
    display: grid;
    width: 100vw;
}
.sale .second-section button{
    display: inherit;
    text-align: center;
}
.grid-item1 {
    grid-row: 1;
    grid-column: 2;
}
.grid-item2{
    grid-row: 2/3;
    grid-column: 2;
}
.grid-item3{
    grid-row-start: 4;
    grid-column: 2;
}
.grid-item4{
    grid-column: 1/1;
    grid-row: 1/7
}

.grid-item5{
    grid-column: 2;
    grid-row: 6;
}

.activities{
    text-align: center;
}


#box1 {
    flex: none;
    /* text-align: center; */
    padding: 10px;
    margin: 20px;
    font-size: 55px;
    font-weight: normal;
    order: 1;
    width: 424;
    height: 281;
    background-color: #fff;
}

@media (max-width: 750px) {
    #nav-items a{
        display: none;
    }
    #dropdown-svg{
        display: flex;
        padding: 0px;
        align-items: flex-start;
        align-self: baseline;
        justify-content: flex-end;
        width: 100vw;
    }
    .nav-bar #dropdown-svg img{
        display: block;
        height: 30px;
        padding-top: 15px;
    }
    .first-section h2{
        font-size: 40px;
        padding-bottom: 30px;
    }
    .first-section p{
        padding-top: 30px;
        /* margin: 20px; */
        font-size: 20px;
        text-align: left;
    }
    .sale .second-section{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 10px;

    }
}